<?xml version="1.0" ?>
<launch>

  # roslaunch ublox_gps ublox_holybro.launch node_name:=gps 
  <include file="$(find ublox_gps)/launch/ublox_holybro.launch" />
  
  # roslunach ntrip_ros ntrip_ros.launch 
  <include file="$(find ntrip_ros)/launch/ntrip_ros.launch" />
  
  # Roslaunch realsense2_camera rs_camera.launch 
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> 
  <include file="$(find realsense2_camera)/launch/depthimage_to_laserscan.launch" />
  
  # rosrun um7 um7_driver _port:=/dev/ttyUSB0 frame_id:=base_link 
  <node pkg="um7" name="um7" type="um7_driver" output="screen">
    <param name="port" value="2.0"/>
    <param name="vehicle_wheelbase" value="/dev/ttyUSB0"/>
    <param name="baud" value="921600"/>
    <param name="update_rate" value="250"/>
    <param name="mag_updates" value="false"/>
    <param name="quat_mode" value="false"/>
    <param name="zero_gyros" value="true"/>
  </node>

</launch>
